body {
    background: #f0f0f0;
}

pre {
    white-space: pre-wrap;
    word-wrap: break-word;
}

[class*=shj-lang-] {
    font-size: 12px;
    line-height: 14px;
    background: rgba(255, 255, 255, 0.2);
}

@media (prefers-color-scheme: dark) {
    body {
        background: #202020;
        color: #ffffff;
    }

    [class*=shj-lang-] {
        font-size: 12px;
        line-height: 14px;
        color: #ffffff;
        background: rgba(0, 0, 0, 0.2);
    }
}
