body {
    background: #f0f0f0;
}

pre {
    white-space: pre-wrap;
    word-wrap: break-word;
}

@media (prefers-color-scheme: dark) {
    body {
        background: #202020;
        color: #ffffff;
    }

    [class*=shj-lang-] {
        color: #ffffff;
        background: #000;
    }
}
