# Automatically build the project and run any configured tests for every push
# and submitted pull request. This can help catch issues that only occur on
# certain platforms or Java versions, and provides a first line of defence
# against bad commits.

name: build
on: [pull_request, push, workflow_dispatch]

jobs:
  build:
    strategy:
      matrix:
        java: [25] # Use these Java versions
        os: [ubuntu-latest]
        artifacts: [true]
        
    runs-on: ${{ matrix.os }}
    
    steps:
      - name: checkout repository
        uses: actions/checkout@v6
        
      - name: validate gradle wrapper
        uses: gradle/actions/wrapper-validation@v5
        
      - name: setup jdk ${{ matrix.java }}
        uses: actions/setup-java@v5
        with:
          java-version: ${{ matrix.java }}
          distribution: 'temurin'
          cache: 'gradle'
          
      - name: make gradle wrapper executable
        if: ${{ runner.os != 'Windows' }}
        run: chmod +x ./gradlew
        
      - name: build
        run: ./gradlew build --no-daemon
      
      - name: capture build artifacts
        if: ${{ matrix.artifacts }}
        uses: actions/upload-artifact@v5
        with:
          name: Artifacts
          path: build/libs/
